body
{
    background-color: black;
    margin: 0;
    padding: 0;

    overflow-x: hidden;

    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 200;
}

/*#region Loading mask*/

html::-webkit-scrollbar { width: 0 !important }
html { overflow: -moz-scrollbars-none; }
html { -ms-overflow-style: none; }

@keyframes opacity_fade_out
{
    0% {opacity: 1;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

#loading-mask, #loading-content, #day-text, #welcome-text
{
    pointer-events: none;
}

#loading-mask
{
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: black;
    position: fixed;

    animation-name: opacity_fade_out;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#loading-content
{
    z-index: 2;
    width: max-content;
    height: max-content;
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);

    animation-name: opacity_fade_out;
    animation-duration: 4.5s;
    animation-fill-mode: forwards;
}

#day-text, #welcome-text
{
    font-size: 50px;
    letter-spacing: 12px;
}

#welcome-text
{
    margin-top: -50px;
    font-size: 22px;
    letter-spacing: 1.5px;
}

/*#endregion Loading mask*/

/*#region Header*/

@keyframes header_move {
    0% {margin-top: -80px;}
    60% {margin-top: -80px;}
    100% {margin-top: 0px;}
  }

.header
{
    position: fixed;
    width: 100vw;
    height: 80px;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content:left;
    z-index: 1;
    -webkit-box-shadow: 1px 9px 24px 3px #00000086; 
    box-shadow: 1px 9px 24px 3px #00000086;

    animation-name: header_move;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.title
{
    margin-top: 10px;
    margin-left: 20px;
}

#name, #job-title
{
    margin: 0;
    font-size: 30px;
    letter-spacing: 10px;
}

#job-title
{
    color: rgb(216, 216, 216);
    font-size: 17px;
    letter-spacing: 2px;
    margin-top: -2px;
}

/*#endregion Header*/

/*#region Video*/

#video-wrapper
{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    margin: auto auto;
    z-index: -1;
}


/* Required to fit VideoJs player */
.vjs-tech { object-fit: cover !important; width: 100% !important; height:100% !important; z-index: 0 !important} 
.player-dimensions { height: 100% !important; width: 100% !important; z-index: 0 !important;}

/*#endregion Video*/

/*#region content*/

@keyframes content_move_forward
{
    0% {margin-top: 0px;}
    100% {margin-top: -200px;}
}

@keyframes content_move_backwards
{
    0% {margin-top: -200px;}
    100% {margin-top: -0px;}
}

#content-container
{
    position: absolute;

    z-index: 1;
    width: 100vw;
    height: max-content;
    background-color: black;

    /* Set By Js!*/
    animation-name: none;


    animation-duration: 2s;
    animation-fill-mode: forwards;

    -webkit-box-shadow: 1px -9px 24px 3px #00000086; 
    box-shadow: 1px -9px 24px 3px #00000086;
}

#content-move-button
{
    margin: 0;
    position: absolute;
    width: 60px;
    height: 60px;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: -75px;

    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 3;
    
    transition-duration: 0.25s;
    opacity: 0.25;
}

#content-move-button:hover
{
    opacity: 1;
}

/*#endregion content*/

/*#region introduction*/

#introduction-title
{
    text-align: center;
    letter-spacing: 15px;
    font-weight: 800;
    font-size: 40px;
}

#intro-text
{
    letter-spacing: 2px;
    font-size: 19px;
    width: max-content;
    height: max-content;
    font-weight: 100;
}

#introduction-inline
{
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*#endregion introduction*/

/*#region projects*/

#projects-title
{
    text-align: center;
    letter-spacing: 15px;
    font-weight: 800;
    font-size: 40px;
}


@keyframes project-expand {
    0% {height: 500px}
    100% {height: 850px;}
}

@keyframes project-shrink {
    0% {height: 850px}
    100% {height: 500px;}
}


/* Pc */
.project
{
    height: 500px;
}

/* Mobile portrait */
@media screen
  and (max-device-width: 480px)
  and (orientation: portrait)
  {
        @keyframes project-expand {
            0% {height: 1000px}
            100% {height: 700px;}
        }
        
        @keyframes project-shrink {
            0% {height: 700px}
            100% {height: 1000px;}
        }

        .project
        {
        height: 700px;
        }
    }


.project
{
    margin-top: 50px;
    width: 100vw;
    overflow: hidden;

    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;

    position: relative;
    display: flex;

    /* Set by js */
    animation-name: none;
    
    animation-fill-mode: forwards;
    animation-duration: 0.25s;
}

.project-thumbnail-container, .project-info-container
{
    width: 50%;
    height: 100%;
}

.project-thumbnail
{
    position: relative;
    width:100%;
    height:100%;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project-title
{
    margin-left: 40px;
    text-align: left;
    letter-spacing: 15px;
    font-weight: 200;
    font-size: 40px;
}

.project-description
{
    margin-top: -25px;
    margin-left: 40px;
    margin-right: 50px;
    text-align: left;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 18px;
}

.project-sources
{
    margin-left: 20px;
    display: flex;
}

.project-source-button
{
    margin-left: 20px;
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;

    border: 1px solid #ffffff;
    margin-top: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.software-icons-container
{
    position: absolute;
    margin-left: 40px;
    margin-right: 50px;
    width: 50%;
    bottom: 25px;
}

.software-icon
{
    width: 50px;
}

.project-expand-button
{
    position: absolute;
    bottom: 25px;
    width: 20px;
    left: 75%;

    background-color: transparent;
    border: none;

    transition-duration: 0.25s;
    opacity: 0.5;
}

.project-expand-button:hover
{
    opacity: 1;
}

.project-expand-button img
{
    width: 30px;
}

/*#endregion projects*/