body
{
    background-color: black;
    margin: 0;
    padding: 0;

    overflow-x: hidden;

    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 200;
}

html::-webkit-scrollbar { width: 0 !important }
html { overflow: -moz-scrollbars-none; }
html { -ms-overflow-style: none; }

@keyframes opacity_fade_out
{
    0% {opacity: 1;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

#loading_mask
{
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: black;
    position: fixed;
    pointer-events: none;

    animation-name: opacity_fade_out;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}


#introduction
{
    z-index: 2;
    width: max-content;
    height: max-content;
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);

    animation-name: opacity_fade_out;
    animation-duration: 4.5s;
    animation-fill-mode: forwards;
}

#day_text, #welcome_text
{
    font-size: 50px;

    letter-spacing: 12px;
}

#welcome_text
{
    margin-top: -50px;
    font-size: 22px;
    letter-spacing: 1.5px;
}

@keyframes header_fade {
    0% {margin-top: -75px;}
    50% {margin-top: -75px;}
    100% {margin-top: 0px;}
  }

.header
{
    position: fixed;
    width: 100vw;
    height: 75px;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content:left;
    align-items: center;
    z-index: 1;
    -webkit-box-shadow: 1px 9px 24px 3px #00000086; 
    box-shadow: 1px 9px 24px 3px #00000086;

    animation-name: header_fade;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.logo
{
    margin-left: 10px;
    width: 60px;
    height: 60px;
}


.title
{
    margin-left: 20px;
}

#name, #job_title
{
    margin: 0;
    font-size: 30px;
    letter-spacing: 10px;
}

#job_title
{
    color: rgb(216, 216, 216);
    font-size: 17px;
    letter-spacing: 2px;
    margin-top: -2px;
}

#video_wrapper
{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: auto auto;
}

/* Required to fit VideoJs player */
.vjs-tech { object-fit: cover !important; width: 100% !important; height:100% !important;} 
.player-dimensions { height: 100% !important; width: 100% !important; }